
.tlo {

    fill: #ff0005;
    opacity: 1;
}

.tloTarcza {
    fill: #ffffff;

}

.tloTarcza2 {
    fill: #ffffff;
}

.cale {
    fill: #2f38ff;
    margin-top: 20px;
    /*margin-left: 20px;*/

}

.line {
    stroke: #6197cd;
    stroke-width: 1.5px;
    opacity: 1;
}

.aktywnyspotszary {

    /*fill: #ff0005;*/
    fill: #d0ccc8;
    opacity: 0.5;

}

.srodkowyspot {
    fill: #6197cd;
    stroke-width: 0;
}

.aktywnyspot {
    fill: #6197cd;
    stroke-width: 0;
    /*cursor: pointer;*/
}